<!-- <h1 mat-dialog-title>Access approval for {{data.freezedProfile.name.first}} {{data.freezedProfile.name.last}}</h1> -->
<mat-horizontal-stepper mat-dialog-title [linear]="isLinear" [selectedIndex]="data.freezedProfile.nextstep" #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
  <mat-step *ngFor="let step of steps" [stepControl]="step.dialogbuttontext" [completed]="completedBa[step.step]" editable="false">
    <ng-template matStepLabel>{{ step.step < data.freezedProfile.nextstep || data.freezedProfile.accessapproval === 'Distributed' ? step.completedsteptext : step.activesteptext }}</ng-template>
  </mat-step>
</mat-horizontal-stepper>
<div mat-dialog-content>
  <!-- style="text-align: -webkit-center;" -->
  <div id="content">
  <!-- preface -->
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/face_icon/'+ setFaceIcon(data.freezedProfile.distinction, data.freezedProfile.gender) + '.svg)'}" class="example-header-image"></div>
          <mat-card-title>{{ data.freezedProfile.name.first }} {{ data.freezedProfile.name.last }}</mat-card-title>
          <mat-card-subtitle>{{ data.freezedProfile.distinction }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="data.freezedProfile.distinction.includes('OPEMPLOYEE')" class="row">
            <ul>
              <li *ngIf="data.usertemplate.userisapprovalstage === 'Yes' && data.freezedProfile.accessapproval === 'Provisional'"><span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span><b>{{ data.freezedProfile.name.last }}</b> is requesting to have access to these areas: <strong>{{ getAccess(data.freezedProfile.proviaccess.one, data.freezedProfile.proviaccess.two, data.freezedProfile.proviaccess.three, data.freezedProfile.proviaccess.four) }}</strong>.</li>
              <li *ngIf="data.freezedProfile.access.one === 'notSelected' && data.freezedProfile.access.two === 'notSelected' && data.freezedProfile.access.three === 'notSelected' && data.freezedProfile.access.four === 'notSelected'">Currently,<span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span> {{ data.freezedProfile.name.last }} has no access to any areas but can only pass thru J.P. Laurel Street. An approved appointment is required for <span *ngIf="data.freezedProfile.gender === 'male'">him </span><span *ngIf="data.freezedProfile.gender === 'female'">her </span> to enter any OP buildings.</li>
              <li *ngIf="data.freezedProfile.access.one === 'selected' || data.freezedProfile.access.two === 'selected' || data.freezedProfile.access.three === 'selected' || data.freezedProfile.access.four === 'selected'">Currently, the areas: <strong>{{ getAccess(data.freezedProfile.access.one, data.freezedProfile.access.two, data.freezedProfile.access.three, data.freezedProfile.access.four) }}</strong> are accessible to <span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span> {{ data.freezedProfile.name.last }}.</li>
              <li><span *ngIf="data.freezedProfile.gender === 'male'">He </span><span *ngIf="data.freezedProfile.gender === 'female'">She </span> is an <b [style.color]="getColor(data.freezedProfile.recordstatus)">{{ data.freezedProfile.recordstatus | uppercase }}</b>&nbsp;<b>{{ data.freezedProfile.distinction }}</b> who <span *ngIf="data.freezedProfile.recordstatus === 'ACTIVE'">currently</span><span *ngIf="data.freezedProfile.recordstatus === 'INACTIVE'">recently</span> holds the position <b>{{ data.freezedProfile.employee.position }}</b> at the <b>{{ data.freezedProfile.employee.office }}</b>.</li>
              <li>Based on the records, this person <span *ngIf="data.freezedProfile.blacklisted === true">has been blacklisted from entering or accessing Malacanang Complex roads</span><span *ngIf="data.freezedProfile.blacklisted === false">is allowed to access Malacanang Complex roads</span></li>
              <li><span *ngIf="data.freezedProfile.gender === 'male'">His </span><span *ngIf="data.freezedProfile.gender === 'female'">Her </span> access is tagged as <b>{{ data.freezedProfile.personaccesslevel }}</b>.</li>
              <li>And <span *ngIf="data.freezedProfile.gender === 'male'">his </span><span *ngIf="data.freezedProfile.gender === 'female'">her </span> most recent request for access was <span *ngIf="(data.freezedProfile.accessdatetagged | date:'EEEE d MMMM') === (today | date:'EEEE d MMMM')">today </span><span *ngIf="(data.freezedProfile.accessdatetagged | date:'EEEE d MMMM') !== (today | date:'EEEE d MMMM')">this past </span><b>{{ data.freezedProfile.accessdatetagged | date: 'MMMM dd yyyy @ hh:mm a' }}</b> which was <b>{{ data.freezedProfile.accessapproval | uppercase }}</b>.</li>
            </ul>
          </div>
          <div *ngIf="data.freezedProfile.distinction.includes('OPVISITOR')" class="row">
            <ul>
              <li><span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span> {{ data.freezedProfile.name.last }} is from the {{ data.freezedProfile.visitor.visitorcompany }}.</li>
              <li><span *ngIf="data.freezedProfile.gender === 'male'">He </span><span *ngIf="data.freezedProfile.gender === 'female'">She </span> is requesting to make a visit to {{ data.freezedProfile.visitor.persontovisit }} of the {{ data.freezedProfile.visitor.visitordestination }}.</li>
              <li><span *ngIf="data.freezedProfile.gender === 'male'">He </span><span *ngIf="data.freezedProfile.gender === 'female'">She </span> will be doing {{ data.freezedProfile.visitor.visitorpurpose }} at {{ data.freezedProfile.visitor.timeofappointment | date: 'EEEE BBBB dd MMM yyyy, hh:mm a O' }}.</li>
              <li *ngIf="data.freezedProfile.access.one === 'notSelected' && data.freezedProfile.access.two === 'notSelected' && data.freezedProfile.access.three === 'notSelected' && data.freezedProfile.access.four === 'notSelected'">Currently,<span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span> {{ data.freezedProfile.name.last }} has no access to any areas but can only pass thru J.P. Laurel Street. An approved appointment is required for <span *ngIf="data.freezedProfile.gender === 'male'">him </span><span *ngIf="data.freezedProfile.gender === 'female'">her </span> to enter any OP buildings.</li>
            </ul>
          </div>
          <div *ngIf="data.freezedProfile.distinction.includes('BRGYRESIDENT')" class="row">
            <ul>
              <li><span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span> {{ data.freezedProfile.name.last }} is an {{ data.freezedProfile.recordstatus | uppercase }} resident of Barangay {{ data.freezedProfile.resident.barangay }}, {{ data.freezedProfile.resident.district }}, {{ data.freezedProfile.resident.city }}.</li>
              <li *ngIf="data.freezedProfile.access.one === 'notSelected' && data.freezedProfile.access.two === 'notSelected' && data.freezedProfile.access.three === 'notSelected' && data.freezedProfile.access.four === 'notSelected'">Currently,<span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span> {{ data.freezedProfile.name.last }} has no access to any areas but can only pass thru J.P. Laurel Street. An approved appointment is required for <span *ngIf="data.freezedProfile.gender === 'male'">him </span><span *ngIf="data.freezedProfile.gender === 'female'">her </span> to enter any OP buildings.</li>
              <li *ngIf="data.freezedProfile.access.one === 'selected' || data.freezedProfile.access.two === 'selected' || data.freezedProfile.access.three === 'selected' || data.freezedProfile.access.four === 'selected'">Currently, the areas: <strong>{{ getAccess(data.freezedProfile.access.one, data.freezedProfile.access.two, data.freezedProfile.access.three, data.freezedProfile.access.four) }}</strong> are accessible to <span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span> {{ data.freezedProfile.name.last }}.</li>
              <li>Based on the records, this person <span *ngIf="data.freezedProfile.blacklisted === true">has been blacklisted from entering or accessing Malacanang Complex roads</span><span *ngIf="data.freezedProfile.blacklisted === false">is allowed to access Malacanang Complex roads</span></li>
              <li><span *ngIf="data.freezedProfile.gender === 'male'">His </span><span *ngIf="data.freezedProfile.gender === 'female'">Her </span> access is tagged as <b>{{ data.freezedProfile.personaccesslevel }}</b>.</li>
              <li>And <span *ngIf="data.freezedProfile.gender === 'male'">his </span><span *ngIf="data.freezedProfile.gender === 'female'">her </span> most recent request for access was <span *ngIf="(data.freezedProfile.accessdatetagged | date:'EEEE d MMMM') === (today | date:'EEEE d MMMM')">today </span><span *ngIf="(data.freezedProfile.accessdatetagged | date:'EEEE d MMMM') !== (today | date:'EEEE d MMMM')">this past </span><b>{{ data.freezedProfile.accessdatetagged | date: 'MMMM dd yyyy @ hh:mm a' }}</b> which was <b>{{ data.freezedProfile.accessapproval | uppercase }}</b>.</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- end preface -->
    <!-- radio and toggle on nested grid -->
    <!-- *ngIf="!(user.usertype === 'PSG-CISS-MANAGER' && data.data.freezedProfile.accessapproval === 'Provisional')" -->
    <div>
      <!-- <div class="row"> -->
        <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar><mat-icon color="primary">ballot</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="primary">filtre_2</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="primary">looks_one</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="primary">list</mat-icon></div> -->
            <div mat-card-avatar class="example-header-image-1"></div>
            <mat-card-title>ACCESS TEMPLATES</mat-card-title>
            <mat-card-subtitle>Select an access label</mat-card-subtitle>
          </mat-card-header>
          <br>
          <mat-card-content>
            <!-- <h2 class="example-h2">Access Presets</h2> -->
            <mat-radio-group class="nested">
              <mat-radio-button class="example-margin" [checked]="passingThroughChecked" value="PASSING THROUGH" (change)="optionButtonChanged($event)" matTooltip="Visitors, Drivers & Barangay Residents">PASSING THROUGH</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="officialChecked" value="OP OFFICIAL" (change)="optionButtonChanged($event)" matTooltip="OP Officials">OP OFFICIAL</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="rankAndFileChecked" value="RANK AND FILE" (change)="optionButtonChanged($event)" matTooltip="Rank and File OP Personnels">RANK AND FILE</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="uniformedOfficialChecked" value="UNIFORMED OFFICIAL" (change)="optionButtonChanged($event)" matTooltip="PSG Officials">UNIFORMED OFFICIAL</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="uniformedPersonnelChecked" value="UNIFORMED PERSONNEL" (change)="optionButtonChanged($event)" matTooltip="PSG Personnels">UNIFORMED PERSONNEL</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="customizedChecked" value="CUSTOMIZED" (change)="optionButtonChanged($event)" matTooltip="Manually select area access and color codes">CUSTOMIZED / VIP</mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
        </mat-card>
      <!-- </div> -->
      <div class="row">
        <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar><mat-icon color="accent">settings_input_component</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">exposure</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">hdr_strong</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">iso</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">filtre_2</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">looks_two</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">tune</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">fiber_smart_record</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">edit_attributes</mat-icon></div> -->
            <div mat-card-avatar class="example-header-image-2"></div>
            <mat-card-title>ACCESS CODES</mat-card-title>
            <mat-card-subtitle>Identify codes for access</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!-- <h2 class="example-h2">Access Codes</h2> -->
            <div class="nested">
              <div class="accesscodes">
                <mat-slide-toggle
                    class="example-margin"
                    [color]="oneColor"
                    [checked]="oneChecked"
                    [disabled]="oneDisabled"
                    (change)="slideToggleOneChanged($event)"
                    matTooltip="Code 1 is palace, pgh (critical areas)">
                  Code 1
                </mat-slide-toggle>
                <div *ngIf="oneChecked === true" class="example-button-row">
                  <button mat-icon-button (click)="oneClick('white')">
                    <mat-icon [ngStyle]="{'color': 'silver'}">radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button (click)="oneClick('blue')">
                    <mat-icon [ngStyle]="{'color': 'blue'}">check_box_outline_blank</mat-icon>
                  </button>
                  <button mat-icon-button (click)="oneClick('green')">
                    <mat-icon [ngStyle]="{'color': 'green'}">radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button (click)="oneClick('red')">
                    <mat-icon [ngStyle]="{'color': 'red'}">check_box_outline_blank</mat-icon>
                  </button>
                </div>
                <div *ngIf="oneChecked === false" class="example-button-row">
                  <button mat-icon-button disabled>
                    <mat-icon>radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </button>
                </div>
              </div>

              <div class="accesscodes">
                <mat-slide-toggle
                    class="example-margin"
                    [color]="twoColor"
                    [checked]="twoChecked"
                    [disabled]="twoDisabled"
                    (change)="slideToggleTwoChanged($event)"
                    matTooltip="Code 2 is mabini, engr., other non-critical OP buildings">
                  Code 2
                </mat-slide-toggle>
                <div *ngIf="twoChecked === true" class="example-button-row">
                  <button mat-icon-button (click)="twoClick('white')">
                    <mat-icon [ngStyle]="{'color': 'silver'}">radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button (click)="twoClick('blue')">
                    <mat-icon [ngStyle]="{'color': 'blue'}">check_box_outline_blank</mat-icon>
                  </button>
                  <button mat-icon-button (click)="twoClick('green')">
                    <mat-icon [ngStyle]="{'color': 'green'}">radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button (click)="twoClick('red')">
                    <mat-icon [ngStyle]="{'color': 'red'}">check_box_outline_blank</mat-icon>
                  </button>
                </div>
                <div *ngIf="twoChecked === false" class="example-button-row">
                  <button mat-icon-button disabled>
                    <mat-icon>radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </button>
                </div>
              </div>

              <div class="accesscodes">
                <mat-slide-toggle
                    class="example-margin"
                    [color]="threeColor"
                    [checked]="threeChecked"
                    [disabled]="threeDisabled"
                    (change)="slideToggleThreeChanged($event)"
                    matTooltip="Codes 3 is a PSG reserved code (PSG controlled areas)">
                  Code 3
                </mat-slide-toggle>
                <div *ngIf="threeChecked === true" class="example-button-row">
                  <button mat-icon-button (click)="threeClick('white')">
                    <mat-icon [ngStyle]="{'color': 'silver'}">radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button (click)="threeClick('blue')">
                    <mat-icon [ngStyle]="{'color': 'blue'}">check_box_outline_blank</mat-icon>
                  </button>
                  <button mat-icon-button (click)="threeClick('green')">
                    <mat-icon [ngStyle]="{'color': 'green'}">radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button (click)="threeClick('red')">
                    <mat-icon [ngStyle]="{'color': 'red'}">check_box_outline_blank</mat-icon>
                  </button>
                </div>
                <div *ngIf="threeChecked === false" class="example-button-row">
                  <button mat-icon-button disabled>
                    <mat-icon>radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </button>
                </div>
              </div>

              <div class="accesscodes">
                <mat-slide-toggle
                    class="example-margin"
                    [color]="fourColor"
                    [checked]="fourChecked"
                    [disabled]="fourDisabled"
                    (change)="slideToggleFourChanged($event)"
                    matTooltip="Codes 4 is a PSG reserved code (PSG controlled areas)">
                  Code 4
                </mat-slide-toggle>
                <div *ngIf="fourChecked === true" class="example-button-row">
                  <button mat-icon-button (click)="fourClick('white')">
                    <mat-icon [ngStyle]="{'color': 'silver'}">radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button (click)="fourClick('blue')">
                    <mat-icon [ngStyle]="{'color': 'blue'}">check_box_outline_blank</mat-icon>
                  </button>
                  <button mat-icon-button (click)="fourClick('green')">
                    <mat-icon [ngStyle]="{'color': 'green'}">radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button (click)="fourClick('red')">
                    <mat-icon [ngStyle]="{'color': 'red'}">check_box_outline_blank</mat-icon>
                  </button>
                </div>
                <div *ngIf="fourChecked === false" class="example-button-row">
                  <button mat-icon-button disabled>
                    <mat-icon>radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>radio_button_unchecked</mat-icon>
                  </button>
                  <button mat-icon-button disabled>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </button>
                </div>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="row">
        <pre>
Legend:

  Code 1 : palace, pgh
           critical areas
  Code 2 : mabini, engr, etc.
           less-critical
  Code 3 : PSG Reserved areas
           PSG controlled
  Code 4 : PSG Reserved areas
           PSG controlled
        </pre>
      </div>
    </div>
    <!-- end radio and toggle on nested grid -->
    <!-- color access preview -->
    <div>
      <mat-card class="column-card">
        <div class="row">
          <div class="one-2-3-4" [style.background-color]="data.profile.proviaccess.colorone">1</div>
          <div class="one-2-3-4" [style.background-color]="data.profile.proviaccess.colortwo">2</div>
        </div>
        <img mat-card-image [src]="service.transformPBU(data.freezedProfile.photothumbnailurl)" alt="Photo" style="height:250px; object-fit: contain;">
        <div class="row">
          <div class="one-2-3-4" [style.background-color]="data.profile.proviaccess.colorthree">3</div>
          <div class="one-2-3-4" [style.background-color]="data.profile.proviaccess.colorfour">4</div>
        </div>
      </mat-card>
    </div>
    <!-- end color access preview -->
  </div>
</div>
<div *ngIf="data.usertemplate.step === 0" mat-dialog-actions align="center">
  <br />
  <!-- <button mat-raised-button color="primary" (click)="OnPrintRequestFormEvent()">Open Request Form for <span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span>{{ data.freezedProfile.name.last }}</button> -->
  <a mat-raised-button color="primary" (click)="goToLink()">Open Request Form for <span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span>{{ data.freezedProfile.name.last }}</a>
  <br />
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>&nbsp;&nbsp;

  <!-- endorse -->
  <button mat-raised-button color="accent" *ngIf="data.usertemplate.userisapprovalstage === 'No' && (!data.usertemplate.usertype.includes('ID-PRINTING-OFFICER') && !data.usertemplate.usertype.includes('ID-DISTRIBUTION-OFFICER'))" (click)="onButtonClick('Endorse Access')" [mat-dialog-close]="data" cdkFocusInitial>{{ data.usertemplate.dialogbuttontext }}</button>

  <!-- ciss manager -->
  <button mat-flat-button color="warn" *ngIf="data.usertemplate.userisapprovalstage === 'Yes' && data.freezedProfile.accessapproval === 'Provisional'" (click)="onButtonClick('Deny Request')" [mat-dialog-close]="data">Deny Request</button>&nbsp;&nbsp;
  <button mat-raised-button color="primary" *ngIf="data.usertemplate.userisapprovalstage === 'Yes' && data.freezedProfile.accessapproval === 'Provisional'" (click)="onButtonClick('Approve Request')" [mat-dialog-close]="data" cdkFocusInitial>Approve Request</button>

  <button mat-raised-button color="primary" *ngIf="(data.usertemplate.usertype.includes('ID-PRINTING-OFFICER') || data.usertemplate.usertype.includes('ID-DISTRIBUTION-OFFICER')) && (data.freezedProfile.accessapproval === 'Approved' || data.freezedProfile.accessapproval === 'Printed')" (click)="onButtonClick(data.usertemplate.dialogbuttontext)" [mat-dialog-close]="data" cdkFocusInitial>{{ data.usertemplate.dialogbuttontext }}</button>
</div>
