<mat-toolbar color="accent" style="background: #E0F7FA">
  <span class="demo-toolbar">
    <button mat-fab color="primary" (click)="OnAccessTypeClickEvent('New Record')">New</button>&nbsp;
    <button mat-fab color="primary" (click)="OnAccessTypeClickEvent('Provisional')">Provi</button>&nbsp;
    <button mat-fab color="accent" (click)="OnAccessTypeClickEvent('Approved')">Apprvd</button>&nbsp;
    <button mat-fab color="primary" (click)="OnAccessTypeClickEvent('Printed')">Prnted</button>&nbsp;
    <button mat-fab color="accent" (click)="OnAccessTypeClickEvent('Distributed')">Dist</button>&nbsp;
    <button mat-fab color="warn" (click)="OnAccessTypeClickEvent('Denied')">Denied</button>&nbsp;
    &nbsp;&nbsp;LIST OF {{ service.find | uppercase }} ACCESS ( {{ current_distinction_alias | uppercase }} )
  </span>
</mat-toolbar>
<!-- <section class="example-section"> -->
<div id="chipcontent" style="text-align: -webkit-center;">
  <mat-slide-toggle
    [color]="color"
    [checked]="checked"
    [disabled]="disabled"
    (change)="toggle($event)">
    Newest first!
  </mat-slide-toggle>
  <div *ngFor="let chip of chips">
    <!-- <mat-chip-list>
      <mat-chip *ngFor="let chip of chips"
        class="allow-overflow" color="primary" selected
        [matBadge]="chip.badge" [matBadgeHidden]="chip.badgehidden"
        matBadgePosition="above after" [matBadgeColor]="chip.badgecolor"
        [matBadgeSize]="chip.badgesize"
        (click)="onDistinctionChipClick(chip.name)">{{ chip.alias }}</mat-chip>
    </mat-chip-list> -->
    <button mat-flat-button color="primary"
      [matBadge]="chip.badge" [matBadgeHidden]="chip.badgehidden"
      matBadgePosition="above after" [matBadgeColor]="chip.badgecolor"
      [matBadgeSize]="chip.badgesize"
      (click)="onDistinctionChipClick(chip.name)">
      {{ chip.alias }}
    </button>
  </div>
</div>
<!-- </section> -->
<div  infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    id="content"
    style="overflow-y: scroll; text-align: -webkit-center;"
  >
  <!-- height: 100%;
  overflow-y: scroll;
  text-align: -webkit-center; -->
  <div *ngFor="let i of myProfileList">
    <div>
      <mat-card class="example-card" (click)="OnMatCardClickEvent(i)">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/face_icon/'+ setFaceIcon(i.distinction, i.gender) + '.svg)'}" class="example-header-image"></div>
          <mat-card-title>{{ i.name.first }} {{ i.name.last }}</mat-card-title>
          <mat-card-subtitle>{{ i.distinction }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="service.transformPBU(i.photothumbnailurl)" alt="Photo">
        <mat-card-content>
          <p>
            <b *ngIf="i.distinction.includes('OPEMPLOYEE')">{{ i.employee.position }}</b>
            <b *ngIf="i.distinction.includes('OPVISITOR')">{{ i.visitor.visitorcompany }}</b>
            <b *ngIf="i.distinction.includes('BRGYRESIDENT')">{{ i.resident.barangay }}</b>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- /*grid-column: span 3;*/ -->
</div>

<div id="footers">
  <footer>
    <p class="tag is-warning" *ngIf="done | async">I ran out of profiles!</p>
    <app-loading-spinner *ngIf="loading | async"></app-loading-spinner>
  </footer>
</div>

<!-- arrow 9658 square 9632 -->
<!-- SHOULD STATE DENY REASON ON MODAL DIALOG WHEN CLICKED -->

  <!-- <div>1</div>
  <div>2</div>
  <div>3</div>
  <div class="nested">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
  </div>
  <div>5</div>
  <div>6</div> -->
