<div [class.isPrinting]="printService.isPrinting">
  <!-- <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div> -->
  <app-header></app-header>
  <app-search-bar></app-search-bar>
  <main [@routerTransition]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
  </main>
  <!-- <app-messages></app-messages> -->
  <router-outlet name="print"></router-outlet>
</div>