/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@media print {
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { display: block; }
}
/* h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  } */

  /* everywhere else */
  /* * {
    font-family: Arial, Helvetica, sans-serif;
  } */